
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #fff;
}
ul{
	padding: 0;
}
body{
	font-family: 'DINProRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container{
	width: 90%;
	max-width: 1760px;
	margin: 0 auto;
}
.clr{
	clear: both;
}
.top_header{
	height: 120px;
	background: url(../img/background_nav.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
.main_header nav{
	height: 60px;
	text-align: center;
	width: 100%;
	background: #353333;
	line-height: 60px;
	position: relative;
}
.main_header.navFixed {
	padding-bottom: 60px;
}
.navFixed nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
.main_header nav ul li{
	list-style: none;
	display: inline-block;
	margin: 0 5%;
}
.main_header nav ul li a{  
	font-size: 18px;
}
.language{
	position: absolute;
	top: 13px;
	right: 5%
}

.main_header .language li{
	list-style: none;
	float: left;
	margin: 0;
	margin-left: 4px;
}
.language li a{
	display: block;
	width: 36px;
	height: 34px;
	margin-left: 1px;
	background-image: url(../img/lang_icons.png);
	background-size: cover;
}
li.ua a{
	background-position: 36px;
}
li.ru a{
	background-position: 73px;
}
.social{
	position: fixed;
	left: 96%;
	top: 50%;
	z-index: 3;
	margin-top: -150px;
}
.social li{
	list-style: none;
}
.social li a{
	display: block;
	width: 30px;
	height: 30px;
	margin-top: 30px;
	background: url(../img/social_icons.png), #191919;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
}
li.facebook a{
	background-position: 0 -30px;
}
li.twitter a{
	background-position: 0 -60px;
}
li.instagram a{
	background-position: 0 -90px;
}
li.vk a{
	background-position: 0 -120px;
}
.main_section{
	background:url(../img/background_header.png)no-repeat;
	background-position: center;
	background-size: 75%; 
	text-align: center;
	display: table;
	width: 100%;
}
.main_section .background{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	background: rgba(0,0,0,0.9);
	color: #fff;
	font-size: 20px;
}
.main_section .logo{
	width: 30%;
	display: block;
	margin: 0 auto;
}
.main_section .logo img{ 
	width: 100%;
	height: auto;
}
/****************************/
.section1,.section2,.section3{
	border-bottom: 40px solid #333;
	position: relative;
	overflow: hidden;
} 
.title{
	position: relative; 
	height: 40px;  
	text-indent: 50px;
	text-align: left;
	font-size: 2em;
	margin-bottom: 10px;
}
.title:before{
	content: "";
	display: block;
	top: 0;
	position: absolute;
	width: 5000px;
	left: -5000px;
	height: inherit;
	background: inherit;
}
.title:after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 5000px;
	right: -5000px;
	height: inherit;
	background: inherit;
}

.img_block{
	width: 62%;
	float: left;
	margin-top: 5%;
    padding: 2% 5%;
}
.img_block img{
	width: 100%;
}
.section3 .img_block img{
	width: 65%
}
.text_block{
	text-align: center;
	width:38%;
	margin-top: 3%;
	float: left;
}
.text_block >img{
	max-width: 75%;
	margin-bottom: 10px;
}
.text_block p{
	text-align: justify;
	text-indent: 3em;
}
footer{
	padding:20px;
	background: #403c3c;
}
footer .forma{
	border: 1px solid #ccc;
	background: url(../img/subscribe_bg.png) no-repeat;
}
footer .forma span{
	text-transform: uppercase;
	font-size: 20px;
	padding:20px;
	float: right;
}