@font-face {
    font-family: 'GothaProLig';
    src: url('fonts/GothaProLig.eot');
    src: url('fonts/GothaProLig.eot') format('embedded-opentype'),
         url('fonts/GothaProLig.woff2') format('woff2'),
         url('fonts/GothaProLig.woff') format('woff'),
         url('fonts/GothaProLig.ttf') format('truetype'),
         url('fonts/GothaProLig.svg#GothaProLig') format('svg');
}
