@font-face {
    font-family: 'GothaProMed';
    src: url('fonts/GothaProMed.eot');
    src: url('fonts/GothaProMed.eot') format('embedded-opentype'),
         url('fonts/GothaProMed.woff2') format('woff2'),
         url('fonts/GothaProMed.woff') format('woff'),
         url('fonts/GothaProMed.ttf') format('truetype'),
         url('fonts/GothaProMed.svg#GothaProMed') format('svg');
}
